<div class="wrapper-addEntry">
	<header class="banner">
		<h1>Add New Journal Entry</h1>
	</header>

<div class="container">
	<form role="form">
		<div class="form-group">
			<label for="newEntry-title">Entry Title</label>
			<input type="email" class="form-control" id="newEntry-title" placeholder="Enter a title for your journal entry.">
		</div>
		<div class="form-group">
			<label for="newEntry-Tags">Tags (comma separated)</label>
			<textarea id="newEntry-Tags" class="form-control" rows="3" placeholder="Add any tags you'd like to add to your entry."></textarea>
		</div>
		<div class="form-group">
			<label for="newEntry-Notes">Associated Notes</label>
			<textarea id="newEntry-Notes" class="form-control" rows="3" placeholder="Enter any field notes."></textarea>
		</div>
		<button class="btn">Capture Position Data</button>
		<div class="posDataReadout">
			<span>Latitude: 39.091315</span>
			<span>Longitude: -94.577012</span>
			<span>Azimuth: 90 deg</span>
			<span>Altitude: 65 deg</span>
		</div><!-- /.posDataReadout -->
		<button type="submit" class="btn">Submit</button>
	</form>
</div><!-- /.container -->

</div><!-- /.wrapper-addEntry -->

<ul>
	<li>Title</li>
	<li>Tags</li>
	<li>Notes</li>
	<li>Capture</li>
	<ul>
		<li>GPS</li>
		<li>Angle</li>
		<li>Azimuth</li>
		<li>??</li>
	</ul>
</ul>
