<div class="wrapper-entryDetail">
	<header class="banner">
		<h1>Journal Entry Title</h1>
	</header>
	<div class="container">
		<a href="#/" class="btn active-entryList" role="navigation"><span class="glyphicon glyphicon-arrow-left"></span> Back to Dashboard</a>
		<div class="container">
			<div class="col col-md-6">
				<h2>Journal Entry Data</h2>
				<table class="table">
					<tbody>
					<tr>
						<td>Entry Id</td>
						<td>927387243</td>
					</tr>
					<tr>
						<td>Tags</td>
						<td>summer, summit's field, spain, no filter, test, cat5, medium-format, prime lens</td>
					</tr>
					<tr>
						<td>Notes</td>
						<td>Trying out the new lens tonight to see if I can get a better exposure. The last lens didn't have a wide enough exposure for the focal length to get a good shot, so I grabbed a new one.</td>
					</tr>
					</tbody>
				</table>
				<h2>Positional Data At Capture</h2>
				<table class="table">
					<tbody>
					<tr>
						<td>Latitude</td>
						<td>39.091315099999996</td>
					</tr>
					<tr>
						<td>Longitude</td>
						<td>-94.5770289</td>
					</tr>
					<tr>
						<td>Azimuth</td>
						<td>92 deg</td>
					</tr>
					<tr>
						<td>Altitude</td>
						<td>65 deg</td>
					</tr>
					</tbody>
				</table>
			</div><!-- /.col -->
			<div class="col col-md-6">
				<h2>Image Files</h2>
				<div class="uploadField">
					<p class="uploadNotice">Please upload only RAW format files such as .TIFF, .NEF, and CR2.</p>
					<div class="progress progress-striped active">
						<div class="progress-bar"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
							<span class="filename">DSC289.NEF</span>
							<span class="filesize">(16mb)</span>
						</div>
					</div><!-- /.progress -->
					<div class="progress progress-striped active">
						<div class="progress-bar"  role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%">
							<span class="filename">DSC290.NEF</span>
							<span class="filesize">(16mb)</span>
						</div>
					</div><!-- /.progress -->
					<div class="imageFile">
						<span class="filename">DSC291.NEF</span>
						<span class="filesize">(20mb)</span>
					</div><!-- /.imageFile -->
					<div class="imageFile">
						<span class="filename">DSC292.NEF</span>
						<span class="filesize">(15mb)</span>
					</div><!-- /.imageFile -->
					<div class="imageFile">
						<span class="filename">DSC293.NEF</span>
						<span class="filesize">(21mb)</span>
					</div><!-- /.imageFile -->
					<div class="imageFile">
						<span class="filename">DSC294.NEF</span>
						<span class="filesize">(19mb)</span>
					</div><!-- /.imageFile -->
					<div class="imageFile">
						<span class="filename">DSC295.NEF</span>
						<span class="filesize">(19mb)</span>
					</div><!-- /.imageFile -->
					<div class="imageFile">
						<span class="filename">DSC296.NEF</span>
						<span class="filesize">(18mb)</span>
					</div><!-- /.imageFile -->
					<div class="imageFile">
						<span class="filename">DSC297.NEF</span>
						<span class="filesize">(19mb)</span>
					</div><!-- /.imageFile -->
					<div class="imageFile">
						<span class="filename">DSC298.NEF</span>
						<span class="filesize">(16mb)</span>
					</div><!-- /.imageFile -->
					<div class="imageFile">
						<span class="filename">DSC299.NEF</span>
						<span class="filesize">(17mb)</span>
					</div><!-- /.imageFile -->
					<div class="imageFile">
						<span class="filename">DSC300.NEF</span>
						<span class="filesize">(18mb)</span>
					</div><!-- /.imageFile -->
					<div class="imageFile">
						<span class="filename">DSC301.NEF</span>
						<span class="filesize">(20mb)</span>
					</div><!-- /.imageFile -->
				</div><!-- /.uploadField -->
			</div>
		</div><!-- /.col -->
	</div><!-- /.container -->
</div>