<header class="banner">
	<div class="userProfile">
		<div class="profilePic">
			<img src="images/neroProfile.jpg">
		</div><!-- /.profilePic -->
	</div><!-- /.userProfile -->
</header>
<section class="container entryList" ng-controller="EntryCtrl">
	<a href="#/entryDetail" id="{{entry.id}}" class="wrapper-entry clearfix" ng-repeat="entry in entryData">
		<span class="status {{entry.status}}">
			{{entry.status}}
		</span>
		<div class="entryHeader">
			<h1>
				{{entry.title}}
			</h1>
			<span class="date">
				{{entry.date}}
			</span>
			<span class="time">
				{{entry.time}}
			</span>
		</div><!-- /.entryHeader -->
	</a><!-- /.wrapper-entry-->
</section><!-- /.container -->