<header class="banner">
	<div class="userProfile">
		<div class="profilePic">
			<img src="https://s3-us-west-2.amazonaws.com/nero.app/images/userProfile/bd75e832.neroProfile.jpg">
		</div><!-- /.profilePic -->
	</div><!-- /.userProfile -->
</header>
<section class="container user-journals">
	<a class="addEntry" ng-href="#/addEntry">Add New Entry</a>
	<h1 class="title-entries">Your Journal Entries</h1>
	<div class="row">
		<div class="col col-md-3 col-xs-6">
			<a class="entry" ng-href="#/entryDetail">
				<div class="status needsImgs">Attach Images</div><!-- /.status -->
				<div class="wrapper-title">
					<h1>Entry Title</h1>
					<time>April 12, 2014 <span>22:00 CST</span></time>
				</div><!-- /.wrapper-title -->
				<img src="images/userProfile/entryPic-1.jpg" alt=""/>
			</a><!-- /.entry -->
		</div><!-- /.col -->
		<div class="col col-md-3 col-xs-6">
			<a class="entry" ng-href="#/entryDetail">
				<div class="status submitted">Submitted</div><!-- /.status -->
				<div class="wrapper-title">
					<h1>Entry Title</h1>
					<time>April 12, 2014 <span>22:00 CST</span></time>
				</div><!-- /.wrapper-title -->
				<img src="images/userProfile/entryPic-2.jpg" alt=""/>
			</a><!-- /.entry -->
		</div><!-- /.col -->
		<div class="col col-md-3 col-xs-6">
			<a class="entry" ng-href="#/entryDetail">
				<div class="status submitted">Submitted</div><!-- /.status -->
				<div class="wrapper-title">
					<h1>Entry Title</h1>
					<time>April 12, 2014 <span>22:00 CST</span></time>
				</div><!-- /.wrapper-title -->
				<img src="images/userProfile/entryPic-3.jpg" alt=""/>
			</a><!-- /.entry -->
		</div><!-- /.col -->
		<div class="col col-md-3 col-xs-6">
			<a class="entry" ng-href="#/entryDetail">
				<div class="status error">Error, Check Entry</div><!-- /.status -->
				<div class="wrapper-title">
					<h1>Entry Title</h1>
					<time>April 12, 2014 <span>22:00 CST</span></time>
				</div><!-- /.wrapper-title -->
				<img src="images/userProfile/entryPic-4.jpg" alt=""/>
			</a><!-- /.entry -->
		</div><!-- /.col -->
	</div><!-- /.row -->
	<div class="row">
		<div class="col col-md-3 col-xs-6">
			<a class="entry" ng-href="#/entryDetail">
				<div class="status submitted">Submitted</div><!-- /.status -->
				<div class="wrapper-title">
					<h1>Entry Title</h1>
					<time>April 12, 2014 <span>22:00 CST</span></time>
				</div><!-- /.wrapper-title -->
				<img src="images/userProfile/entryPic-3.jpg" alt=""/>
			</a><!-- /.entry -->
		</div><!-- /.col -->
		<div class="col col-md-3 col-xs-6">
			<a class="entry" ng-href="#/entryDetail">
				<div class="status submitted">Submitted</div><!-- /.status -->
				<div class="wrapper-title">
					<h1>Entry Title</h1>
					<time>April 12, 2014 <span>22:00 CST</span></time>
				</div><!-- /.wrapper-title -->
				<img src="images/userProfile/entryPic-1.jpg" alt=""/>
			</a><!-- /.entry -->
		</div><!-- /.col -->
		<div class="col col-md-3 col-xs-6">
			<a class="entry" ng-href="#/entryDetail">
				<div class="status submitted">Submitted</div><!-- /.status -->
				<div class="wrapper-title">
					<h1>Entry Title</h1>
					<time>April 12, 2014 <span>22:00 CST</span></time>
				</div><!-- /.wrapper-title -->
				<img src="images/userProfile/entryPic-4.jpg" alt=""/>
			</a><!-- /.entry -->
		</div><!-- /.col -->
		<div class="col col-md-3 col-xs-6">
			<a class="entry" ng-href="#/entryDetail">
				<div class="status submitted">Submitted</div><!-- /.status -->
				<div class="wrapper-title">
					<h1>Entry Title</h1>
					<time>April 12, 2014 <span>22:00 CST</span></time>
				</div><!-- /.wrapper-title -->
				<img src="images/userProfile/entryPic-2.jpg" alt=""/>
			</a><!-- /.entry -->
		</div><!-- /.col -->
	</div><!-- /.row -->
	<div class="row">
		<div class="col col-md-3 col-xs-6">
			<a class="entry" ng-href="#/entryDetail">
				<div class="status needsImgs">Attach Images</div><!-- /.status -->
				<div class="wrapper-title">
					<h1>Entry Title</h1>
					<time>April 12, 2014 <span>22:00 CST</span></time>
				</div><!-- /.wrapper-title -->
				<img src="images/userProfile/entryPic-4.jpg" alt=""/>
			</a><!-- /.entry -->
		</div><!-- /.col -->
		<div class="col col-md-3 col-xs-6">
			<a class="entry" ng-href="#/entryDetail">
				<div class="status submitted">Submitted</div><!-- /.status -->
				<div class="wrapper-title">
					<h1>Entry Title</h1>
					<time>April 12, 2014 <span>22:00 CST</span></time>
				</div><!-- /.wrapper-title -->
				<img src="images/userProfile/entryPic-1.jpg" alt=""/>
			</a><!-- /.entry -->
		</div><!-- /.col -->
		<div class="col col-md-3 col-xs-6">
			<a class="entry" ng-href="#/entryDetail">
				<div class="status submitted">Submitted</div><!-- /.status -->
				<div class="wrapper-title">
					<h1>Entry Title</h1>
					<time>April 12, 2014 <span>22:00 CST</span></time>
				</div><!-- /.wrapper-title -->
				<img src="images/userProfile/entryPic-2.jpg" alt=""/>
			</a><!-- /.entry -->
		</div><!-- /.col -->
		<div class="col col-md-3 col-xs-6">
			<a class="entry" ng-href="#/entryDetail">
				<div class="status error">Error, Check Entry</div><!-- /.status -->
				<div class="wrapper-title">
					<h1>Entry Title</h1>
					<time>April 12, 2014 <span>22:00 CST</span></time>
				</div><!-- /.wrapper-title -->
				<img src="images/userProfile/entryPic-3.jpg" alt=""/>
			</a><!-- /.entry -->
		</div><!-- /.col -->
	</div><!-- /.row -->
</section><!-- /.container -->