<header class="banner-userProfile">
	<div class="wrapper-userProfile">
		<img class="userProfile" src="images/userProfile/neroProfile.jpg" alt=""/>
	</div><!-- /.wrapper-userProfile -->
</header>
<section class="container user-journals">
	<div class="row">
		<div class="col col-md-3 col-xs-6">
			<div class="entry">
				<h1>Entry Title</h1>
				<time>April 12, 2014 <span>22:00 CST</span></time>
				<img src="images/userProfile/entryPic-1.jpg" alt=""/>
			</div><!-- /.entry -->
		</div><!-- /.col -->
		<div class="col col-md-3 col-xs-6">
			<div class="entry">
				<h1>Entry Title</h1>
				<time>April 12, 2014 <span>22:00 CST</span></time>
				<img src="images/userProfile/entryPic-2.jpg" alt=""/>
			</div><!-- /.entry -->
		</div><!-- /.col -->
		<div class="col col-md-3 col-xs-6">
			<div class="entry">
				<h1>Entry Title</h1>
				<time>April 12, 2014 <span>22:00 CST</span></time>
				<img src="images/userProfile/entryPic-3.jpg" alt=""/>
			</div><!-- /.entry -->
		</div><!-- /.col -->
		<div class="col col-md-3 col-xs-6">
			<div class="entry">
				<h1>Entry Title</h1>
				<time>April 12, 2014 <span>22:00 CST</span></time>
				<img src="images/userProfile/entryPic-4.jpg" alt=""/>
			</div><!-- /.entry -->
		</div><!-- /.col -->
	</div><!-- /.row -->
	<div class="row">
		<div class="col col-md-3 col-xs-6">
			<div class="entry">
				<h1>Entry Title</h1>
				<time>April 12, 2014 <span>22:00 CST</span></time>
				<img src="images/userProfile/entryPic-3.jpg" alt=""/>
			</div><!-- /.entry -->
		</div><!-- /.col -->
		<div class="col col-md-3 col-xs-6">
			<div class="entry">
				<h1>Entry Title</h1>
				<time>April 12, 2014 <span>22:00 CST</span></time>
				<img src="images/userProfile/entryPic-1.jpg" alt=""/>
			</div><!-- /.entry -->
		</div><!-- /.col -->
		<div class="col col-md-3 col-xs-6">
			<div class="entry">
				<h1>Entry Title</h1>
				<time>April 12, 2014 <span>22:00 CST</span></time>
				<img src="images/userProfile/entryPic-4.jpg" alt=""/>
			</div><!-- /.entry -->
		</div><!-- /.col -->
		<div class="col col-md-3 col-xs-6">
			<div class="entry">
				<h1>Entry Title</h1>
				<time>April 12, 2014 <span>22:00 CST</span></time>
				<img src="images/userProfile/entryPic-2.jpg" alt=""/>
			</div><!-- /.entry -->
		</div><!-- /.col -->
	</div><!-- /.row -->
</section><!-- /.container -->