<header class="banner-userProfile">
	<div class="wrapper-userProfile">
		<img class="userProfile" src="images/userProfile/neroProfile.jpg" alt=""/>
	</div><!-- /.wrapper-userProfile -->
</header>
<section class="container user-journals">
	<div class="addEntry">Add New Entry</div>
	<h1 class="title-entries">Your Journal Entries</h1>
	<div class="row">
		<div class="col col-md-3 col-xs-6">
			<div class="entry">
				<div class="status needsImgs">Attach Images</div><!-- /.status -->
				<div class="wrapper-title">
					<h1>Entry Title</h1>
					<time>April 12, 2014 <span>22:00 CST</span></time>
				</div><!-- /.wrapper-title -->
				<img src="images/userProfile/entryPic-1.jpg" alt=""/>
			</div><!-- /.entry -->
		</div><!-- /.col -->
		<div class="col col-md-3 col-xs-6">
			<div class="entry">
				<div class="status submitted">Submitted</div><!-- /.status -->
				<div class="wrapper-title">
					<h1>Entry Title</h1>
					<time>April 12, 2014 <span>22:00 CST</span></time>
				</div><!-- /.wrapper-title -->
				<img src="images/userProfile/entryPic-2.jpg" alt=""/>
			</div><!-- /.entry -->
		</div><!-- /.col -->
		<div class="col col-md-3 col-xs-6">
			<div class="entry">
				<div class="status submitted">Submitted</div><!-- /.status -->
				<div class="wrapper-title">
					<h1>Entry Title</h1>
					<time>April 12, 2014 <span>22:00 CST</span></time>
				</div><!-- /.wrapper-title -->
				<img src="images/userProfile/entryPic-3.jpg" alt=""/>
			</div><!-- /.entry -->
		</div><!-- /.col -->
		<div class="col col-md-3 col-xs-6">
			<div class="entry">
				<div class="status error">Error, Check Entry</div><!-- /.status -->
				<div class="wrapper-title">
					<h1>Entry Title</h1>
					<time>April 12, 2014 <span>22:00 CST</span></time>
				</div><!-- /.wrapper-title -->
				<img src="images/userProfile/entryPic-4.jpg" alt=""/>
			</div><!-- /.entry -->
		</div><!-- /.col -->
	</div><!-- /.row -->
	<div class="row">
		<div class="col col-md-3 col-xs-6">
			<div class="entry">
				<div class="status submitted">Submitted</div><!-- /.status -->
				<div class="wrapper-title">
					<h1>Entry Title</h1>
					<time>April 12, 2014 <span>22:00 CST</span></time>
				</div><!-- /.wrapper-title -->
				<img src="images/userProfile/entryPic-3.jpg" alt=""/>
			</div><!-- /.entry -->
		</div><!-- /.col -->
		<div class="col col-md-3 col-xs-6">
			<div class="entry">
				<div class="status submitted">Submitted</div><!-- /.status -->
				<div class="wrapper-title">
					<h1>Entry Title</h1>
					<time>April 12, 2014 <span>22:00 CST</span></time>
				</div><!-- /.wrapper-title -->
				<img src="images/userProfile/entryPic-1.jpg" alt=""/>
			</div><!-- /.entry -->
		</div><!-- /.col -->
		<div class="col col-md-3 col-xs-6">
			<div class="entry">
				<div class="status submitted">Submitted</div><!-- /.status -->
				<div class="wrapper-title">
					<h1>Entry Title</h1>
					<time>April 12, 2014 <span>22:00 CST</span></time>
				</div><!-- /.wrapper-title -->
				<img src="images/userProfile/entryPic-4.jpg" alt=""/>
			</div><!-- /.entry -->
		</div><!-- /.col -->
		<div class="col col-md-3 col-xs-6">
			<div class="entry">
				<div class="status submitted">Submitted</div><!-- /.status -->
				<div class="wrapper-title">
					<h1>Entry Title</h1>
					<time>April 12, 2014 <span>22:00 CST</span></time>
				</div><!-- /.wrapper-title -->
				<img src="images/userProfile/entryPic-2.jpg" alt=""/>
			</div><!-- /.entry -->
		</div><!-- /.col -->
	</div><!-- /.row -->
</section><!-- /.container -->